.gain > span{
	background-color: #017301f2;
        color: white;
}
.loss > span {
	background-color: #ff0000ab;
	color: white;
}

td>span{
	margin: 3px;
    padding: 8px 30px;
    border-radius: 4px;
}

td, th{
	text-align: center;
}

h4.center a {
    color: white;
}

thead{
    font-size: 16px;
}
tbody{
    font-size: 12px;
}

.row.title{
    padding: 40px;
    background-color: #003affa1;
    border-radius: 0 0px 10px 10px;
    color: white;
}
.row.title > h1 {
    margin-left: auto;
    margin-right: auto;
}
.timelapse{
	width: 200px;
}

.control{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    margin: 10px 0;

}
.control select{
    width: 100%;
}

.row.internet{
    background-color: #ff0000ab; 
    border-radius: 10px 10px 10px 10px;
    color:white;
}
.row.internet > p {
    font-size:xx-large; font-weight: bold;     margin-left: auto;
    margin-right: auto;
}

.info-gen{
    display: grid; grid-template-columns: 1fr 1fr 1fr;
}

.div-table-right, .div-tables-left{
    vertical-align: top; display: inline-block;
}

.div-tables-left, .select-left{
    padding: 0 10px 0 0px;
}
.div-table-right, .select-right{
    padding: 0 0 0 10px;
}

.div-search{
    padding: 0 10px 0 0px;
}
input, select{
    padding: 2% 5%;
}
.div-search > input{
    width: 100%;
}
.footer{
    position: fixed;
    bottom: 0;
    background-color: #003affc2;
    border-radius: 10px 10px 0 0;
    width: 100%;
    color: white;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer > h4{
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px){
    .control div{   
        text-align: left !important;
    }
}